In [9]:
import csv
import pandas as pd

In [2]:
# let's open the file and print each line
with open('DemoTable.csv', newline='') as csvfile:
        cvs_reader = csv.reader(csvfile) # returns a reader object which will iterate each row of the file
        for row in cvs_reader:
            print(row) # note each row will be returned as a list

['Timestamp', 'Which is your favorite animal?', 'How many years have you lived in London?', 'How do you travel to WPP?', 'How do you spend your time during your commute?']
['8/30/2022 17:24:41', 'Dog', '0', 'Underground', 'Listening to a Podcast']
['8/30/2022 17:39:04', 'Dog', '7', 'Bike', "Focusing on the road because I'm biking!"]
['8/30/2022 18:03:17', 'Dog', '5', 'Underground', 'Social Media']

In [12]:
# let's do that again and pull out the headers
with open('DemoTable.csv', newline='') as csvfile:
        cvs_reader = csv.reader(csvfile) 
        headers = next(cvs_reader) # skip the first row and store it in the variable headers
        for row in cvs_reader:
            print(row)

['8/30/2022 17:24:41', 'Dog', '0', 'Underground', 'Listening to a Podcast']
['8/30/2022 17:39:04', 'Dog', '7', 'Bike', "Focusing on the road because I'm biking!"]
['8/30/2022 18:03:17', 'Dog', '5', 'Underground', 'Social Media']

In [13]:
# now we can just print the headers as well
headers

['Timestamp',
 'animal',
 'How many years have you lived in London?',
 'How do you travel to WPP?',
 'How do you spend your time during your commute?']

In [ ]:
# let's see all the commuting selections
row[3]

In [18]:
# hmmm, can only access the last row (do you know why?)
# let's try this one more time and save the rows in a nested list (ie a list of lists)
with open('DemoTable.csv', newline='') as csvfile:
        cvs_reader = csv.reader(csvfile) 
#         headers = next(cvs_reader) 
        data = [] # this will hold all of the rows
        for row in cvs_reader:
            data.append(row)

In [ ]:
# I can see how many folks completed the questions
len(data)

In [19]:
df= pd.DataFrame.from_dict(data)

In [20]:
df

,0,1,2,3,4
0,Timestamp,animal,How many years have you lived in London?,How do you travel to WPP?,How do you spend your time during your commute?
1,8/30/2022 17:24:41,Dog,0,Underground,Listening to a Podcast
2,8/30/2022 17:39:04,Dog,7,Bike,Focusing on the road because I'm biking!
3,8/30/2022 18:03:17,Dog,5,Underground,Social Media

In [4]:
data['Which is your favorite animal?']

TypeError: list indices must be integers or slices, not str

In [ ]:
# now to see all of the commuting selections, I'll iterate through data (ie look at each row) and see the commuting selection
for row in data:
    print(row[3])

In [ ]:
# I could use a dictionary and count how many people chose each option

commuting_choices = {} # create an empty dictionary
for row in data:
    curr_choice = row[3]                      # commuting_choice represents the option selected for this row (ie person) 
    if curr_choice in commuting_choices:      # see if that choice is already in the dictionary
        commuting_choices[curr_choice] += 1   # if it already exists, add one
    else:
        commuting_choices[curr_choice] = 1    # else, add it to the dictionary and initialize it to one (because so far, one person selected this option)
        
commuting_choices

In [ ]:
# I can also see how many years the longest and newest London resident has lived here

# let's use a list comprehension this time
# how_many_years will be a list containing all the different years folks have lived in London
how_many_years = [row[2] for row in data]

print(how_many_years)
print(max(how_many_years))   # longest resident
print(min(how_many_years))   # newest resident