In [1]:
%pylab inline
# this installs the pandas library and creates a shorthand for it
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

In [4]:
# read all the complaints from the CSV file and store it in the complaints variable
path = 'noise_calls.csv'
# complaints is a DataFrame
complaints = pd.read_csv(path)

In [7]:
# see the first 10 complaints from the data set
complaints[0:10]

,Created,Caller,Noise Postcode,Type of Noise Causing a Nuisance,Sr_Num,Enq Type
0,01/01/2021,LS6,LS6 1,MUSIC,Out ofHours,Out ofHours
1,02/01/2021,LS12,LS12 2,DOG BARKING,Out ofHours,Out ofHours
2,02/01/2021,LS9,LS9 7,MUSIC,Out ofHours,Out ofHours
3,02/01/2021,LS9,LS9 6,SHOUTING,Out ofHours,Out ofHours
4,02/01/2021,LS28,LS28 5,MUSIC,Out ofHours,Out ofHours
5,02/01/2021,LS16,LS16 6,MUSIC,Out ofHours,Out ofHours
6,02/01/2021,LS14,LS14 1,MUSIC,Out ofHours,Out ofHours
7,02/01/2021,LS6,LS6 3,SHOUTING,Out ofHours,Out ofHours
8,02/01/2021,LS17,LS17 5,BANGING ON WALLS/CEILING/FLOOR,Out ofHours,Out ofHours
9,03/01/2021,LS18,LS18 4,DOG BARKING,Out ofHours,Out ofHours

In [12]:
# gives us the number of complaints in each postcode (top 10)
complaints['Noise Postcode'].value_counts()[:10].sort_values(ascending=False)

LS6 1     998
LS6 3     360
LS9 6     174
LS9 7     139
LS14 1    136
LS4 2     136
LS6 2     114
LS12 1    112
LS13 2     95
LS8 5      93
Name: Noise Postcode, dtype: int64