<h2>Introduction to Creative Coding: Homework 1</h2>
To complete this assignment, download this notebook and edit the code to produce the expected output. Be sure to upload the file to the shared drive before next class.

<h3>Problem 1</h3>
Fix the following code by adding parentheses so that you print out 18<br/>
Expected Output: <code>18</code>

In [ ]:
print(4 + 2 * 3)

<h3>Problem 2</h3>
Change the operators (not the numbers!) in the following code so you print out true, false, true
<br/>Expected Output:<br/><code>True
False
True</code>

In [ ]:
print(4>5)
print(12 % 2 != 1)
print(2>6)

<h3>Problem 3</h3>
Fix the following code so the numerical value is printed, not the variable name.
You'll also want to round the value to an integer.
<br/>Expected Output: <code>How many days are in 50 years? 18262</code>

In [ ]:
days_in_50_years = 365 * 50 + (50/4)   # adding in leap days
print("How many days are in 50 years? days_in_50_years")

<h3>Problem 4</h3>
Assign values to the following three variables so you print out the expected output.
<br/>Expected Output:<br/>
<code>&lt;class 'int'><br/>&lt; class 'float'><br/>&lt; class 'str'><br/></code>

In [ ]:
int_var = 
float_var = 
str_var = 
print(type(int_var))
print(type(float_var))
print(type(str_var))

<h3>Problem 5</h3>
Using the defined variables, print the phrase "Time After Time" (note the spaces). Do not change the variables' values! Hint: use + to add the spaces<br/>
Expected Output: <code>Time After Time</code>

In [ ]:
time_str = "Time"
after_str = "After"
print()

<h3>Problem 6</h3>
Using the following two variables, print the total number of characters between the phrases. <br/>
Expected Output: <code>37</code>

In [ ]:
str1 = "I'm a great string"
str2 = "I'm a better string"
print()

<h3>Problem 7</h3>
Print the index of the first instance of the letter 't'<br/>
Expected Output: <code>22</code>

In [ ]:
str_with_o = "I am a string and somewhere in here is the character u are seeking"
idx_of_o = 
print(idx_of_o)

<h3>Problem 8</h3>
Using the previously defined idx_of_o variable print str_with_o starting from the first 'o' and ending before the first 'k'. Use string indexing.<br/>
Expected Output: <code>omewhere in here is the character u are see</code>

In [ ]:
print()

<h3>Problem 9</h3>
Using the following defined string, print out the 1st and 21st characters matching the expected outcome format. Use string indexing. Remember in programming we start counting at 0! <br/>
Expected Output: <code>The first character is T and the twenty-first character is j</code>

In [ ]:
my_example_string = "The quick brown fox jumps over the lazy dog"
print(f"The first character is .... and the twenty-first character is ...")

<h3>Problem 10</h3>
Using the find method, assign values to y_idx, f_idx, and m_idx that returns the first instance of y, f, and m respectively. 
<br/>Expected Output: <code>10 24 55</code>

In [ ]:
long_str = "Just when you think you found the answer, you find all meaning is lost"
y_idx = 
f_idx = 
m_idx = 
print(y_idx, f_idx, m_idx)

<h3>Problem 11</h3>
Assign values to you_str, found_str, and me_str that uses the previous three variables and string indexing to return the substring 'you', 'found', and 'me' respectively. Hint: addition would be helpful here. 
<br/>Expected Outcome: <code>you found me</code>

In [ ]:
you_str = 
found_str = 
me_str = 
print(you_str + " " + found_str + " " + me_str)